/*
colors used:
Primary Color (Orange): #f9b66c
Secondary Color (Blue): #b1dbe2
Tertiary Color (Cream): #ebd9c8
*/
body {
    background-color: lightgray;
}

h1 {
    font-family: 'Poiret One', cursive;
}

h2 {
    font-family: 'Poiret One', cursive;
}

body {
    font-family: 'Lato', sans-serif;
}

a:visited { /* visited link */
    color: #0330fb;
}

a:hover,
a:focus {
    color: #f2551b;
    text-decoration: underline; /* Underlining when hovering over a link */
}

  a:active { /* selected link */
    color: #c27d64;
}

a:link {
    color: #0330fb;
    text-decoration: none; /* No underlining */
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
}

.button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
}