/*
colors used:
Primary Color (Orange): #f9b66c
Secondary Color (Blue): #b1dbe2
*/
body {
    background-color: lightgray;
}

h1 {
    font-family: 'Poiret One', cursive;
}

h2 {
    font-family: 'Poiret One', cursive;
}
body {
    font-family: 'Lato', sans-serif;
}