/*
colors used:
Primary Color (Orange): #f9b66c
Secondary Color (Blue): #0288f5
Tertiary Color (Cream): #ebd9c8
*/
header {
    background-color: #ebd9c8;
    padding: 10px 10px 6px 10px;
    margin: 0px 10px 10px 0px;
    position: fixed;
    width: 100%;
    background: #ebd9c8; 
    border: 1px solid #ebd9c8; 
    box-shadow: 5px 6px 25px rgba(0, 0, 0, 0.3)  ; 
    -webkit-box-shadow: 5px 6px 25px rgba(0, 0, 0, 0.3)  ; 
    -moz-box-shadow: 5px 6px 25px rgba(0, 0, 0, 0.3)  ; 
}

main {
    padding-top: 220px;
}

body {
    background-color: #ebd9c8;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2.75em;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2.00em;
    margin-left: 5px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    font-weight: 700;
}

img {
    width: 100%;
}

footer {
    text-align: center;
}

nav > ul > li > a:visited { /* visited link */
    color: #0330fb;
}

nav > ul > li > a:hover,
nav > lu > li > a:focus {
    color: #f2551b;
    text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul >li > a:active { /* selected link */
    color: #c27d64;
}

a:link {
    color: #0330fb;
    text-decoration: none; /* No underlining */
}

.button.contact {
    display: inline-block;
    background-color: #0330fb;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #0330fb;
    transition: 0.2s opacity;
}

.button.contact:hover {
    background-color: #0330fb;
    color: #f9b66c;
    transition: 0.8s;
}

.button.project {
    display: inline-block;
    background-color: transparent;
    color: #0330fb;
    text-transform: uppercase;
    padding: 5px;
    transition: 0.4s opacity;
}

.button.project:hover {
    background-color: #f9b66c;
    color: #0330fb;
    transition: 0.8s;
}

.buttonres {
    display: inline-block;
    background-color: #0330fb;
    color: #f9b66c;
    text-transform: none;
    padding: 5px;
    margin-left: 10px;
    transition: 0.5s opacity;
}

.buttonres:hover {
    background-color: #0330fb;
    color: #ffffff;
    transition: 0.8s;
}

.social.link {
    display: inline-block;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

/* layout stylings */

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

#hero h1, h3, h4, p {
    text-align: left;
}

#hero span {
    display: block;
}

#work h2, h3, p {
    text-align: left;
}

.logo {
    max-width: 150px;
}

.profile {
    max-width: 250px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0288f5
}

[class*=col-] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding: 0;
    margin-top: 40px;
    margin-right: 40px;
}

.navtoggle.responsive li  {
    display: block;
    padding: 6px;
    background-color: rgb(235, 217, 200 0.1);
}

.navtoggle.responsive li:last-child  {
    padding: 0 0 5px;
}

.navtoggle.responsive nav {
    padding: 10px 0 0;
}

/* media queries */

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 40px;
        font-size: 20px;
    }
    .col-md-6 {
        width: 50%;
    }
    #menu h4 {
        margin-top: 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }
    nav > ul {
        margin: 1em 0;
    }
}

@media only screen and (min-width: 1040px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: center;
        margin-top: 40px;
        font-size: 22px;
    }
    .col-lg-6 {
        width: 70%;
    }

    #menu h4 {
        margin-top: 0;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1440px) {

}

/* CSS Animation */
.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    from {fill: #edc655}
    to {fill: #f76414}
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0, 50px);}
    to {transform: translate(200px, 50px);}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px, 48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate
}